extends layout

block content
  link(rel='stylesheet', href='/stylesheets/manage.css')
  if isaddition || iscreation
    div.banner.success
      p Successfully #{isaddition ? 'added' : 'created'}.
  h1 #{title}
  h3 Code: #{code}
  if description
    h3 Description:
    p #{description}
  h3 Participants:
  if participants.length > 0
    ul
      each val in participants
        li.participant= val.name
  else
    p No one has registered yet
  form.form-style-1(action='/start?code='+code, method='post')
    h3 Launch Event
    ul
      li
        label(for='passwd') Event Password
          span.required *
        input.field-long(name='passwd', type='text', id='passwd')
      li.button
        input(type='submit', value='Launch')
