extends layout

block content
  link(rel='stylesheet', href='/stylesheets/manage.css')
  if isaddition || isshipped || iscreation
    div.banner.success
      p Successfully #{isupdated ? 'updated' : (isaddition ? 'added' : (isshipped ? 'shipped' : 'created'))}.
  div.center-block
    h1.nowrap #{title}
    h3 Code
    p.subtext #{code}
    if description
      h3 Description
      p.subtext #{description}
    h3 Participants
    if participants && participants.length > 0
      ul.participant-list
        each val, index in participants
          li.participant
            if val.giftReceived
              div.badge-icon.success-status(title='Received')
            else if val.giftShipped
              div.badge-icon.in-progress-status(title='Shipped')
            else if isStarted
              div.badge-icon.waiting-status(title='Awaiting shipping report')
            if !isStarted
              a.email-btn(href="./update-registration?code=#{code}&participant_id=#{val._id}", title="Update participant")
                span.email-icon &#9998
            a.email-btn(href="./message-participant?code=#{code}&recipient=#{val.name}", title="Message participant")
              span.email-icon &#9993
            p(title="#{val.giftReceived ? 'Received' : (val.giftShipped ? 'Shipped' : 'Awaiting shipping report')}") #{val.name}
            if val.giftReceived
              div.badge.flex-right
                p Gift received.
            else if val.giftShipped
              div.badge.flex-right
                if val.estimatedDeliveryDate
                  p.btn-link.delivery-toggle(onmouseenter='document.querySelector("#delivery-popup-#{index}").style.display = "block"', onmouseleave='document.querySelector("#delivery-popup-#{index}").style.display = "none"') Estimated delivery
                    i.arrow.down
                  div.delivery-popup(id='delivery-popup-#{index}', style='display: none') #{val.estimatedDeliveryDate}
                a.btn-link(href='./report-received?code=#{code}') Report gift received 
            else if isStarted
              a.flex-right.btn-link(href='./report-shipping?code=#{code}&recipient=#{val.name}') Report gift shipped
    else
      p.subtext No one has registered yet
    if !isStarted
      h3 Register For Event
      input.subtext(type='submit', value='Register', onclick='window.location.href="/registration?code=#{code}"')
    h3 Launch Event
    if isStarted
      h4 The event has started.
      a.btn-link.email-btn(href="./message-santa?code=#{code}", title="Message your santa")
        span.email-icon &#9993
        p Message your santa
    form(action='/start?code='+code, method='post')
      ul.form-style-1
        li
          label(for='passwd') Event Password
            span.required *
          input.field-long(name='passwd', type='text', id='passwd')
        li
          label(for='hardreset') Reset assignments?
          input(type='checkbox', name='hardreset', id='hardreset')
        li.button
          input(type='submit', value='#{ !isStarted ? "Launch" : "Resend emails" }')
