extends layout

block content
  link(rel='stylesheet', href='/stylesheets/registration.css')
  if failure
    div.banner.failure
      p Could not be added: #{message}
  h1= title
  form(action='/report-shipping', method='post')
    ul.form-style-1
      li
        label(for='recipient') Recipient Name
          span.required *
        input.field-long(name='recipient', type='text', id='recipient', value=recipient)
      li
        label(for='code') Event Code
          span.required *
        input.field-long(name='code', type='text', id='code', value=code)
      li
        label(for='email') Your Email Address
          span.required *
        input.field-long(name='email', type='text', id='email', value=email)
      li
        label(for='deliveryestimate') Estimated Date of Delivery
        input.field-long(name='deliveryestimate', type='text', id='deliveryestimate', value=deliveryestimate)
      li.button
        input(type='submit', value='Report shipping')
